body {
    background-color: chartreuse;
    font-family: Comfortaa;
  }
  h1 {
    color: blue;
    text-align: center;
    border: 2px solid hotpink;
    margin: 40px;
  }
  p {
    color: red;
    text-align: right;
  }
  .ipsum {
    text-align: right;
    background-color: hotpink;
    border: 2px solid red;
    margin-left: 1000px;
    color:greenyellow;
  }