body {
    background-color: powderblue;
    font-family: Comfortaa;
    margin:0;
  }
  .title {
    color: white;
    text-align: center;
    width: max-content;
    margin: auto;
    font-size: 300%;
  }
  p {
    color: red;
  }
  .header {
    padding: 150px;
    text-align: center;
    background-image: url(titlebackground.png);
    background-position: center;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
  }