body {
    background-color: powderblue;
    font-family: Comfortaa;
    margin:0;
  }
  .title {
    color: white;
    text-align: center;
    width: max-content;
    margin: auto;
    font-size: 300%;
  }
  p {
    color: red;
  }
  .header {
    padding: 150px;
    text-align: center;
    background-image: url(titlebackground.png);
    background-position: center left;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .linkButton {
    background:linear-gradient(to bottom, #c74444 5%, #ff0000 100%);
    background-color:#000000;
    border-radius:28px;
    border:1px solid #d6aa17;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }
  .linkButton:hover {
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color:#5cbf2a;
  }
  .linkButton:active {
    position:relative;
    top:1px;
  }
  #divAboutMe {
    height: max-content;
  }

  #divProjects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .projects-container {
    display: flex;
  }

  .project {
    margin-right: 20px; /* Optional: Add some spacing between the projects */
  }
